body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card img {
  height: 220px;
  object-fit: cover;
}

footer {
  margin-top: 40px;
}

.carousel-caption h5 {
  font-size: 1.8rem;
  text-shadow: 2px 2px 5px #000;
}

#carouselGorras div img {
  max-height: 550px;
  max-width: 95vw;
  margin: auto;
  border-radius: 5px;
}